page-home {
    .color7{
        background-color: red
    }

    .color3{
        background-color: cyan
    }

    .color17{
        background-color: green;
    }

    .color60 {
        display: block;
        background-color: yellow;
    }

    .color180{
        display: block;
        background-color: pink;
    }
}
